 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap');

 * {
     box-sizing: border-box;
     list-style: none;
     text-decoration: none;
     font-family: 'Inter', sans-serif;
 }

 :root {
     --darkGray: #1c181d;
     --midGray: #322f33;
     --lightGray: #616161;
     --lighterGray: #656566;
     --fontDark: #475467;
     --fontMid: #616161;
     --fontLight: #e3e3e3;
     --strokesDark: rgba(0, 255, 255, 0.2);
     --strokesMid: rgba(0, 0, 0, 0.07);
     --strokesLight: #ebebeb;
     --hover: #f7f7f7;
     --pressed: #f0f0f0;
     --hover: #005bd3;
     --plain: #fff;
     --background: #f1f1f1;
 }

 body {
 background-color: var(--background);
 padding: 1rem;
}